body {
    /***
      ADD YOUR CUSTOM STYLIING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   ***/
    //  background-color: white;
    //  .content {
    //   font-size: 14px;
    //  }
    //  h1 {
    //   color: black;
    //  }

}

/* TEXT FORMATTING */

:root body {
  --bold-color: orange;
}

/* TASK strikethrough */

.markdown-preview-view ul > li.task-list-item.is-checked {
  text-decoration:none;
  color:var(--text-normal);
}

.markdown-preview-view ol > li.task-list-item.is-checked {
  text-decoration:none;
  color:var(--text-normal);
}

/* CENTER HEADING (EDIT MODE) */

.HyperMD-header.HyperMD-header-2 {
    text-align: center;
}

.HyperMD-header.HyperMD-header-3 {
    text-align: left;
}

/* CENTER HEADING (PREVIEW MODE) */

.markdown-preview-view h2 {
    text-align: center;
}

